doctype html
html
  head
    title Inventario
  body
    h1 Catalogo
    form(action='/guardar', method='post')
      label(for='id') No. Id: 
      input(type='text', name='id')
      br 
      label(for='articulo') Articulo:  
      input(type='text', name='articulo')
      br
      label(for='cantidad') Cantidad:     
      input(type='number', name='cantidad')
      br
      input(type='submit', value='Guardar')
    