
/*Definimos las sección principal
hay que expecificar cada area a utilizar, aunque no se utilice
para apartar el espacio con .*/
.grid-container{
    display: grid;
    grid-template-rows: 50px 800px 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-row-align: 5px;
    -ms-grid-column-aling: 5px;

    grid-template-areas:
    " area1 area1 area1 area1 area1 area1"
    "area2 area2 area2 area2 area3 area3"
    "area4 area4 area4 area4 area4 area4";
}

/*Definimos cada una de las areas como un item*/
.grid-item1{
    background: rebeccapurple;
    text-align: center;
    border:black 5px solid;
    grid-area: area1;
}
    

.grid-item2{
    background: rgb(151, 178, 53);
    text-align: center;
    border:black 5px solid;
    grid-area: area2;
}

.grid-item3{
    background: rgb(41, 74, 143);
    text-align: center;
    border:black 5px solid;
    grid-area: area3;
}

.grid-item4{
    background: rgb(139, 41, 184);
    text-align: center;
    border:black 5px solid;
    grid-area: area4;
}


.nav{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 3fr 1fr;
}

.imgnav{
    height: 40px;
    width: 40px;
    border-radius: 50%;

    justify-self: flex-end;
}


.main{
    display: grid;
    grid-template-rows: 80px 710px;
    grid-template-columns: 1fr;

    grid-template-areas: 
    "area5"
    "area6";
}
.grid-item5{
    background: rgb(156, 31, 100);
    text-align:center;
    border:black 5px solid;
    grid-area: area5;
}

.grid-item6{
    background: rgb(176, 158, 25);
    text-align: center;
    border:black 5px solid;
    grid-area: area6;
}


.pernav{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: 
    "area7"
    "area8";
}

.grid-item7{
    background: rgb(176, 158, 25);
    text-align: left;
    grid-area: area7;
}

.peqimg{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-self: center;
}

.imgperfil{
    height: 100px;
    width: 100px;
}

.imgiconos{
    height: 30px;
    width: 30px;
}

.imgpq{
    height: 60px;
    width: 60px;
    border-radius: 50px;   
}

.imgAside{
    height: 90px;
    width: 90px;
    border-radius: 50px;

    grid-column: 1/2;
    grid-row: 1/2;
}

.Aside{
    display: grid;
    grid-template-rows: 100px 40px 50px 50px;
    grid-template-columns: 1fr 1fr;
    width: 800px;

    grid-template-areas:
    "area1A area2A"
    "area3A ."
    "area4A area5A"
    "area6A area7A";
}

.grid-item10{
    background: rgb(212, 141, 146);
    text-align: center;
    border:rgb(210, 34, 34) 5px solid;
    grid-area: area1A;
    justify-self: start;
}
    

.grid-item11{
    background: rgb(129, 209, 203);
    text-align: center;
    border:rgb(185, 76, 76) 5px solid;
    grid-area: area2A;
}

.grid-item12{
    background: rgb(212, 141, 146);
    text-align: center;
    border:rgb(210, 34, 34) 5px solid;
    grid-area: area3A;
    justify-self: start;
}

.parte1{
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 1fr 1fr;
}

.txt1part1{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

.txt2part1{
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
}

.txtpart2{
    align-self: center;
}


.grid-item13{
    background: rgb(129, 209, 203);
    text-align: center;
    border:rgb(185, 76, 76) 5px solid;
    grid-area: area4A;
}

.parte2{
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 40px 1fr;
    justify-self: start;

}

.imgpart2{
    height: 30px;
    width: 30px;
    border-radius: 50px;

    grid-column: 1/2;
    grid-row: 1/2;
    

}

.txtpart3{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: self-start;
}




.grid-item14{
    background: rgb(212, 141, 146);
    text-align: center;
    border:rgb(210, 34, 34) 5px solid;
    grid-area: area5A;
    align-self: center;
}



.grid-item15{
    background: rgb(212, 141, 146);
    text-align: center;
    border:rgb(210, 34, 34) 5px solid;
    grid-area: area6A;
    align-self: center;
    pa
}

.parte4{
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 40px 1fr;
    justify-self: start;

}

.imgpart4{
    height: 30px;
    width: 30px;
    border-radius: 50px;

    grid-column: 1/2;
    grid-row: 1/2;
    

}

.txtpart4{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: self-start;
}


.grid-item16{
    background: rgb(212, 141, 146);
    text-align: center;
    border:rgb(210, 34, 34) 5px solid;
    grid-area: area7A;
    align-self: center;
}